{% extends 'common/base.html' %}
{% load static %}
{% block title %}Apply Job{% endblock %}
{% block css %}
{% endblock %}
{% block content %}

<section class="banner-area relative " id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12 text-white text-uppercase ">
        {% include 'common/messages.html' %}
        <form class="container " method="POST" enctype="multipart/form-data" >
          {% csrf_token %}
          {{form.as_p}}
          <div class="row">
            <div class="col-md-11">
              <input type="submit" value="Submit" class="btn mt-3 btn-success" style=" color: white; font-size: larger; width: 8rem;">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}